.container {
  display: flex;
  flex-grow: 1;
  color: #189cc1;
}

.main {
  padding: 32px;
  width: 100%;
}

.movieListContainer {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header { 
  font-size: 32px;
}

@media screen and (min-width: 600px) {
  .movieListContainer {
    flex-wrap: wrap;
    flex-direction: unset;
  }
}